/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font-family: Comic Sans MS, Comic Sans, cursive;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    clear: both;
    
}


header {
    color:  #5c676e;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


.hoofd {
    background-color: #d3d3d3;
     
}



/* specifieke stijlen */
/*afbeeldingen*/
img.zweeflinks {
    float:right;
    margin-right: 20px;
    margin-top: 15px;
    width: 350px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
}

img.zweeflinks2 {
    float:left;
    margin-right: 15px;
    margin-top: 15px;
    width: 250px;
    margin-bottom: 15px;
    border: 2px solid rgb(0, 0, 0)
}

img.kookboek {
    width: 250px;
    margin-bottom: 15px; 
}

img.afbeelding {
    float: right;
    width: 300px;
    margin-left: 15px;
     border: 2px solid rgb(0, 0, 0)
}

img.afbeeldingrechts {
    float: left;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 20px;
     border: 2px solid rgb(0, 0, 0)

}

img.recept {
    float: right;
    width: 250px;
    margin-left: 10px;
     border: 2px solid rgb(0, 0, 0);
}

img.recept2 {
    float: left;
    width: 300px;
    margin-right: 15px;
     border: 2px solid rgb(0, 0, 0);

}

img.glutenfree {
    width: 450px;
    margin-left: 115px;
    
}

/*specifieke css*/
.smalltext {
    font-size: 0.7em;
}

/*kleur die de links krijgen*/
a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*afbeelding op hoofdpagina die slide*/
@keyframes slide {
    0% {
        left: -1000px;
    }
    100% {
        left: 0px;
    }
}

.slide  {
    position: relative;
    animation: slide 5s;
}

/*titels bovenaan pagina's die van kleur veranderen*/
@keyframes titel {
    0%{
        color: rgb(0, 0, 0);
    }
    25%{
        color: #5c676e;
    }
    50%{
        color: #4897b6;
    }
    75%{
        color: #29c5bd;
    }
    100%{
        color: rgb(0, 0, 0)
    }
}

.titel {
    animation: titel 20s infinite;
}
/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #d3d3d3;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #29c5bd;
}

nav li a.active {
    background-color:  #4897b6;
}




