/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font-family: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: red;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

p.tekst {
    margin-top: 25px;

}
p.tekst2 {
    margin-top: 35px;
}

p.tekst3{
    margin-top: 35px;
}

p.tekst4 {
    margin-top: 35px;
}

/* specifieke stijlen */

img.zweefLinks {
    float:right;
    margin-right: 20px;
    margin-top: 15px;
}

img.zweeflinks2 {
    float:left;
    margin-right: 15px;
    margin-top: 25px;
}
img.zweeflinks3 {
    float: right;
    margin-top: 25px;
}

img.zweeflinks4 {
    float:left;
    margin-top: 25px;
}
.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #e7e7e5;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f1ce05;
}

nav li a.active {
    background-color: blue;
}




